<!-- users/:id -->
<div class="container">
  <div class="row">
  <!--   <div class="col s3"></div> -->
    <div class="col s12">
    <h1> Tagger Profile Page </h1>
    <p>Welcome <%= @user.first_name %></p>
  </div>
   <!--   <div class="col s3"></div> -->
  </div>
</div>


<img class="responsive-img" id="profileImg" src= "<%= @user.image %>" class="profileImage">
<h5><%= link_to "Edit", edit_user_path(@user.id) %></h5>
<h5><%= link_to "All Users", users_path(@user.id) %></h5>
  <h1>My Art Posts</h1>

<div class="row">
