<div class="container">
  <div class="row">
    <h1>About Tag.</h1>

  </div>
  <div class="row">
    <p>Hi, we're Tag. We are a group of founders who love finding and sharing street art photography, and wanted to share our interest with the world. Street murals, graffiti and chalk art are rich visual stories that we believe deserve to be shared and discussed.</p>
    <p>Our use of Google Vision API allows for instantaneous tagging and categorization of photos so that you, the user can spend more time finding and sharing new discoveries. </p>
  </div>
  <div class="row">
    <div class="line"></div>
    <div class="row">
     <div class="col s12 m3"><%= image_tag("camila.jpeg", :alt => "Founder Camila", :class => "founders") %></div>
     <div class="col s12 m3"><%= image_tag("min.jpeg", :alt => "Founder Min", :class => "founders") %></div>
     <div class="col s12 m3"><%= image_tag("vanessa.jpeg", :alt => "founder Vanessa", :class => "founders") %></div>
     <div class="col s12 m3"><%= image_tag("anthony.jpeg", :alt => "Founder Anthony", :class => "founders") %></div>
   </div>
   <div class="row test">
     <div class="col s12 m3" style="text-align: center">
       <h4>Camila Crawford</h4>
        <a href="https://github.com/cfcrawford">GitHub</a>
     </div>
     <div class="col s12 m3" style="text-align: center">
       <h4>Min Kim</h4>
        <a href="https://github.com/petenut">GitHub</a>
     </div>
     <div class="col s12 m3" style="text-align: center">
       <h4>Vanessa Farias</h4>
        <a href="https://github.com/ladypi">Github</a>
       </ul>
     </div>
     <div class="col s12 m3" style="text-align: center">
       <h4>Anthony Schurz</h4>
      <a href="https://github.com/anthonyschurz">Github</a>
     </div>
  </div>
</div>
