
<div class="container">
  <div class="row">
  <!--   <div class="col s3"></div> -->
    <div class="col s12">
    <h1> Art Post Profile </h1>
    <!-- <p>Welcome <%= @art.id %></p> -->
  </div>
   <!--   <div class="col s3"></div> -->
  </div>
</div>


<%= link_to image_tag(@art.image.url(:med)), @art.image.url %>
