
<div class="container">
  <div class="row">
  <!--   <div class="col s3"></div> -->
    <div class="col s12">
    <h1> Art Post Profile </h1>
    <!-- <p>Welcome <%= @art.id %></p> -->
  </div>
   <!--   <div class="col s3"></div> -->
  </div>
</div>


<img class="responsive-img" id="profileImg" src= "<%= @art.image %>" class="profileImage">


<h5><%= link_to "Edit", edit_art_path(@art.id) %></h5>
